body {
    text-align: center;
    background-color: #06283D;
}

h1 {
    color: whitesmoke;
    font-size: 5rem;
    text-shadow: 2px 2px 2px #FFA1CF;
}

footer{
    color: whitesmoke;
    margin-top: -30px;
}

.w{
    background-image: url(crash.png);
}

.a{
    background-image: url(kick.png);
}

.s{
    background-image: url(snare.png);
}

.d{
    background-image: url(tom1.png);
}

.j{
    background-image: url(tom2.png);
}

.k{
    background-image: url(tom3.png);
}

.l{
    background-image: url(tom4.png);
}

.set {
    margin: 10% auto;
}

.drum {
    outline: none;
    border: 10px solid #0F3460;
    font-size: 5rem;
    line-height: 2;
    font-weight: 900;
    color: #F57328;
    text-shadow: 2px 2px 2px #FFA1CF;
    border-radius: 15px;
    display: inline-block;
    font-family: serif;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 10px;
    background-color:aliceblue;
}

.pressed{
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
}

